<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("partials/header.ejs"); %> <% if (locals.postId) { %>

    <div class="container">
      <h1>Edit Post</h1>
      <form class="createPostForm" action="/update" method="post">
        <input
          type="text"
          name="title"
          placeholder="Title"
          value="<% title %>"
          required
        />
        <textarea
          name="content"
          id="content"
          cols="30"
          rows="10"
          placeholder="Content"
          style="resize: none"
        >
<%=content%></textarea
        >
        <input hidden type="text" name="index" value="<%= postId %>" />
        <button class="btn btn-dark" type="submit" name="submit">
          Update Post
        </button>
      </form>
    </div>
    <% } else { %>
    <div class="container">
      <h1>Create A Post</h1>
      <form class="createPostForm" action="/save" method="post">
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="title"
            placeholder="Title"
            required
          />
          <label>Post</label>
          <textarea
            class="form-control"
            name="content"
            id="content"
            rows="10"
            cols="30"
            placeholder="Content"
            style="resize: none"
            required
          ></textarea>
        </div>
        <button class="btn btn-dark" type="submit" name="submit">
          Create Post
        </button>
      </form>
    </div>
    <% } %> <%- include('partials/footer.ejs'); %>
  </body>
</html>
